matrix:
  include:
    - language: node_js
      node_js:
        - "8.9.4"
      install:
        - npm install --global yarn
      before_script:
        - yarn install
      script:
        - npm run webpack
    - language: python
      python: 2.7
      install:
        - pip install -r requirements.txt
        - pip install -r test-requirements.txt
      script:
        - flake8 app
